@font-face {
    font-family: 'airyicons';
    src: url('../fonts/airy.eot');
    src: url('../fonts/airy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/airy.woff') format('woff'),
        url('../fonts/airy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class*='airy-']:before {
    font-family: 'airyicons';
    content: '\0058';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.airy-add-circle:before {
    content: '\0041';
}

.airy-add:before {
    content: '\0042';
}

.airy-arrow-down-circle:before {
    content: '\0043';
}

.airy-arrow-down:before {
    content: '\0044';
}

.airy-arrow-left-circle:before {
    content: '\0045';
}

.airy-arrow-left:before {
    content: '\0046';
}

.airy-arrow-right-circle:before {
    content: '\0047';
}

.airy-arrow-right:before {
    content: '\0048';
}

.airy-arrow-up-circle:before {
    content: '\0049';
}

.airy-arrow-up:before {
    content: '\004a';
}

.airy-bag:before {
    content: '\004b';
}

.airy-bell:before {
    content: '\004c';
}

.airy-block:before {
    content: '\004d';
}

.airy-bookmark:before {
    content: '\004e';
}

.airy-calendar:before {
    content: '\004f';
}

.airy-camera:before {
    content: '\0050';
}

.airy-card:before {
    content: '\0051';
}

.airy-cart:before {
    content: '\0052';
}

.airy-chevron-down:before {
    content: '\0053';
}

.airy-chevron-left:before {
    content: '\0054';
}

.airy-chevron-right:before {
    content: '\0055';
}

.airy-chevron-up:before {
    content: '\0056';
}

.airy-emphasis-circle:before {
    content: '\0057';
}

.airy-help-circle:before {
    content: '\0058';
}

.airy-info-circle:before {
    content: '\0059';
}

.airy-clock:before {
    content: '\005a';
}

.airy-compass:before {
    content: '\0061';
}

.airy-data-shell:before {
    content: '\0062';
}

.airy-file:before {
    content: '\0063';
}

.airy-done:before {
    content: '\0064';
}

.airy-download:before {
    content: '\0065';
}

.airy-edit:before {
    content: '\0066';
}

.airy-emphasis:before {
    content: '\0067';
}

.airy-folder-open:before {
    content: '\0068';
}

.airy-folder:before {
    content: '\0069';
}

.airy-grid:before {
    content: '\006a';
}

.airy-half-star:before {
    content: '\006b';
}

.airy-heart:before {
    content: '\006c';
}

.airy-help:before {
    content: '\006d';
}

.airy-hide:before {
    content: '\006e';
}

.airy-info:before {
    content: '\006f';
}

.airy-input:before {
    content: '\0070';
}

.airy-location:before {
    content: '\0071';
}

.airy-lock:before {
    content: '\0072';
}

.airy-login:before {
    content: '\0073';
}

.airy-logout:before {
    content: '\0074';
}

.airy-mail:before {
    content: '\0075';
}

.airy-menu-vertical:before {
    content: '\0076';
}

.airy-menu:before {
    content: '\0077';
}

.airy-message:before {
    content: '\0078';
}

.airy-mic-mute:before {
    content: '\0079';
}

.airy-mic:before {
    content: '\007a';
}

.airy-music:before {
    content: '\0030';
}

.airy-mute:before {
    content: '\0031';
}

.airy-home:before {
    content: '\0032';
}

.airy-pause:before {
    content: '\0033';
}

.airy-stop:before {
    content: '\0034';
}

.airy-paint:before {
    content: '\0035';
}

.airy-phone:before {
    content: '\0036';
}

.airy-picture:before {
    content: '\0037';
}

.airy-power:before {
    content: '\0038';
}

.airy-redo:before {
    content: '\0039';
}

.airy-refresh:before {
    content: '\0021';
}

.airy-repeat:before {
    content: '\0022';
}

.airy-search:before {
    content: '\0023';
}

.airy-send:before {
    content: '\0024';
}

.airy-setting:before,
.airy-settings:before {
    content: '\0025';
}

.airy-share:before {
    content: '\0026';
}

.airy-reply:before {
    content: '\0080';
}

.airy-show:before {
    content: '\0027';
}

.airy-shuffle:before {
    content: '\0028';
}

.airy-sort:before {
    content: '\0029';
}

.airy-substract-circle:before {
    content: '\002a';
}

.airy-star:before {
    content: '\002b';
}

.airy-tag:before {
    content: '\002c';
}

.airy-trash:before {
    content: '\002d';
}

.airy-undo:before {
    content: '\002e';
}

.airy-unlock:before {
    content: '\002f';
}

.airy-upload:before {
    content: '\005b';
}

.airy-user:before {
    content: '\005c';
}

.airy-users:before {
    content: '\005d';
}

.airy-volume-up:before {
    content: '\005e';
}

.airy-substract:before {
    content: '\005f';
}

.airy-close-circle:before {
    content: '\0060';
}

.airy-close:before {
    content: '\007b';
}

.airy-zoom-in:before {
    content: '\007c';
}

.airy-zoom-out:before {
    content: '\007d';
}

.airy-play:before {
    content: '\007e';
}

.airy-link:before {
    content: '\0040';
}


/* filled code :*/

.airy-add-solid:before,
.airy-add-circle-solid:before {
    content: '\003a';
}

.airy-bookmark-solid:before {
    content: '\003b';
}

.airy-arrow-down-solid:before,
.airy-arrow-down-circle-solid:before {
    content: '\003c';
}

.airy-arrow-left-solid:before,
.airy-arrow-left-circle-solid:before {
    content: '\003d';
}

.airy-arrow-right-solid:before,
.airy-arrow-right-circle-solid:before {
    content: '\003e';
}

.airy-arrow-up-solid:before,
.airy-arrow-up-circle-solid:before {
    content: '\003f';
}

.airy-block-solid:before {
    content: '\00a1';
}

.airy-calendar-solid:before {
    content: '\00a2';
}

.airy-camera-solid:before {
    content: '\00a3';
}

.airy-card-solid:before {
    content: '\00a4';
}

.airy-emphasis-solid:before,
.airy-emphasis-circle-solid:before {
    content: '\00a5';
}

.airy-help-solid:before,
.airy-help-circle-solid:before {
    content: '\00a6';
}

.airy-clock-solid:before {
    content: '\00a7';
}

.airy-compass-solid:before {
    content: '\00a8';
}

.airy-data-shell-solid:before {
    content: '\00a9';
}

.airy-edit-solid:before {
    content: '\00aa';
}

.airy-folder-solid:before {
    content: '\00ab';
}

.airy-folder-open-solid:before {
    content: '\00ac';
}

.airy-volume-down:before {
    content: '\00ae';
}

.airy-home-solid:before {
    content: '\00af';
}

.airy-location-solid:before {
    content: '\00b0';
}

.airy-lock-solid:before {
    content: '\00b1';
}

.airy-login-solid:before {
    content: '\00d8';
}

.airy-logout-solid:before {
    content: '\00d9';
}

.airy-mail-solid:before {
    content: '\00b4';
}

.airy-mute-solid:before {
    content: '\00b5';
}

.airy-message-solid:before {
    content: '\00b6';
}

.airy-mic-solid:before {
    content: '\00b7';
}

.airy-music-solid:before {
    content: '\00b8';
}

.airy-bag-solid:before {
    content: '\00ba';
}

.airy-bell-solid:before {
    content: '\00bb';
}

.airy-cart-solid:before {
    content: '\00bc';
}

.airy-file-solid:before {
    content: '\00bd';
}

.airy-grid-solid:before {
    content: '\00be';
}

.airy-heart-solid:before {
    content: '\00bf';
}

.airy-hide-solid:before {
    content: '\00c0';
}

.airy-mic-mute-solid:before {
    content: '\00c1';
}

.airy-picture-solid:before {
    content: '\00c2';
}

.airy-settings-solid:before,
.airy-setting-solid:before {
    content: '\00c3';
}

.airy-share-solid:before {
    content: '\00c4';
}

.airy-reply-solid:before {
    content: '\00c5';
}

.airy-user-solid:before {
    content: '\00c6';
}

.airy-users-solid:before {
    content: '\00c7';
}

.airy-paint-solid:before {
    content: '\00c8';
}

.airy-phone-solid:before {
    content: '\00c9';
}

.airy-play-solid:before {
    content: '\00ca';
}

.airy-send-solid:before {
    content: '\00cb';
}

.airy-show-solid:before {
    content: '\00cc';
}

.airy-star-solid:before {
    content: '\00cd';
}

.airy-substract-solid:before,
.airy-substract-circle-solid:before {
    content: '\00ce';
}

.airy-stop-solid:before {
    content: '\00cf';
}

.airy-tag-solid:before {
    content: '\00d0';
}

.airy-trash-solid:before {
    content: '\00d1';
}

.airy-unlock-solid:before {
    content: '\00d2';
}

.airy-volume-up-solid:before {
    content: '\00d3';
}

.airy-close-circle-solid:before,
.airy-close-solid:before {
    content: '\00d4';
}

.airy-volume-down-solid:before {
    content: '\00d5';
}

.airy-zoom-in-solid:before {
    content: '\00d6';
}

.airy-zoom-out-solid:before {
    content: '\00d7';
}

.airy-info-solid:before,
.airy-info-circle-solid:before {
    content: '\00f0';
}


.airy-github:before {
    content: '\00ee';
}

.airy-npm:before {
    content: '\00ed';
}